* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.poke-card {
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f96d00;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-direction: column;
}

#name {
  color: #f2f2f2;
}

#type {
  margin-top: 8px;
}
