* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.poke-card {
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-direction: column;
  padding: 8px;
  max-width: 400px;
  animation: append-animate 0.5s linear;
}

#type {
  margin-bottom: 5px;
}

.stats {
  display: flex;
  justify-content: center;
}

.stats p {
  margin-right: 5px;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
